<div class="categories-main">
    <div class="categories-header">
        <h4>Blog Categories</h4>
    </div>
    <div class="categories">
        <a href="#">Categoty 1</a>
        <a href="#">Categoty 2</a>
        <a href="#">Categoty 3</a>
        <a href="#">Categoty 1</a>
        <a href="#">Categoty 2</a>
        <a href="#">Categoty 3</a>
        <a href="#">Categoty 1</a>
        <a href="#">Categoty 2</a>
        <a href="#">Categoty 3</a>
        <a href="#">Categoty 1</a>
        <a href="#">Categoty 2</a>
        <a href="#">Categoty 3</a>
        <a href="#">Categoty 1</a>
        <a href="#">Categoty 2</a>
        <a href="#">Categoty 3</a>
        <a href="#">Categoty 1</a>
        <a href="#">Categoty 2</a>
        <a href="#">Categoty 3</a>
        <a href="#">Categoty 1</a>
        <a href="#">Categoty 2</a>
        <a href="#">Categoty 3</a>
        <a href="#">Categoty 1</a>
        <a href="#">Categoty 2</a>
        <a href="#">Categoty 3</a>
    </div>

</div>